* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Poppins", sans-serif;
}

.left {
    font-size: 1.5rem;
    margin-left: -50px;
}

.right {
    font-size: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(5, 5, 52);
    box-shadow: 0px 0px 2px 0px white;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.right ul li:hover {
    background-color: rgb(03, 02, 33);
    color: white;
}

main {
    padding: 2rem;
    background-color: #000000;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us h1,
.about-us h2 {
    text-align: center;
    color: #f6f4f4;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.about-us p,
.about-us ul,
.team-member {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.about-us p.slide-in-left {
    animation: slideInLeft 2s forwards;
}

.about-us p.slide-in-right {
    animation: slideInRight 2s forwards;
}

.about-us ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    color: #fdfdfd;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    text-align: center;
    margin: 1rem;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

footer {
    background-color: rgba(48, 32, 119, 0.927);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }
}